<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.stupideme.zhihucolumn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/MyAppTheme.NoActionBar">
        <meta-data
            android:name="me.stupideme.zhihucolumn.glide.StupidGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".view.ArticleDetailActivity"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.StupidColumnActivity" />
        <activity android:name=".view.StupidArticlesActivity" />
    </application>

</manifest>